.articles__header {
    @include flex;
    padding-top: 26.4rem;

    .article__caption {
        width: 488px;

        &-title {
            @include font($second-title, 4.5rem, $black-text);
            padding-bottom: 1.6rem;
        }
        
        &-text {
            @include font($main, 2.8rem, 400, $gray-text);
        }
    }

    .article__button {
        align-self: flex-end;
        
        .article__caption-button {
            padding: 0.5em 3em 0.5em 1em;
        }
    }
}

.articles__subtitle {
    @include font($subtitle, 2rem, bold, $gray-text);
    padding-top: 8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.articles__list {
    @include flex;

    .article {
        width: 340px;
        padding-top: 3.2rem;
        
        &__title {
            @include font($column-title, 3rem, $black-text);
        }
        &__text {
            @include font($main, 2.8rem, 400, $gray-text);
            padding: 2rem 0;
        }
    }
}



