.career-container {
    padding-top: 200px;
}

.career__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 116px;

    .career__article {
        flex-basis: 27%;
        padding-top: 224px;
    
        .career__article-header {
            color: $gray-text;
            text-transform: uppercase;
            font-size: $subtitle;
        }
    
        .career__article-title {
            color: $black-text;
            font-size: $head-title;
            padding-top: 16px;
        }
    
        .career__article-text {
            font-size: $main;
            line-height: 28px;
            padding: 24px 0 36px 0;
            color: $gray-text;
        }
    }

    .career__image {
        object-fit: contain;
        max-width: 100%;
    }

    .career__article-button {
        padding: 0.5em 4.5em 0.5em 1em;
    }    
}




