.card {
    @include flex;
    padding-top: 5rem;

    .card__wrapper {
        align-self: center;
        width: 340px;
        
        .card__images {
            padding-bottom: 1.5rem;
        }
        
        .card__image {
            width: 100%;
        }
        
        .card__title {
            color: $black-text;
            font-weight: bold;
            @include medium-font;
            padding-bottom: 1.5rem;
        }
        
        .card__text {
            color: $gray-text;
            @include main-font;
            padding-bottom: 1.5rem;
        }
    }
}

