.career-container {
    padding-top: 12.5rem;

    .career__content {
        @include flex;
        padding-bottom: 7.25rem;
    
        .career__article {
            width: 328px;
            padding-top: 14rem;
        
            .career__article-header {
                color: $gray-text;
                text-transform: uppercase;
                font-size: $subtitle;
            }
        
            .career__article-title {
                padding-top: 1rem;
                color: $black-text;
                font-size: $head-title;
            }
        
            .career__article-text {
                padding: 1.5rem 0 2.25rem 0;
                @include main-font;
                color: $gray-text;
            }
        }
}

    .career__images {
        max-width: 100%;
        box-shadow: 0px 0px 40px 18px rgba(0, 0, 0, 0.1);
    }

    .career__article-button {
        padding: 0.5em 4.5em 0.5em 1em;
    }    
}




