.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .card__wrapper {
        width: 300px;
        padding-top: 80px;

        .card__images {
            padding-bottom: 24px;
        }
        
        .card__image {
            width: 100%;
            height: auto;
            padding-bottom: 24px;
        }
        
        .card__title {
            color: $black-text;
            font-weight: bold;
            font-size: $column-title;
            line-height: 30px;
            padding-bottom: 24px;
        }
        
        .card__text {
            color: $gray-text;
            font-size: $main;
            line-height: 28px;
            padding-bottom: 24px;
        }
    }
}

