.career-container {
    padding-top: 20rem;

    .career__content {
        @include flex;
        padding-bottom: 12rem;
    
        .career__article {
            width: 27%;
            padding-top: 22.4rem;
        
            .career__article-header {
                @include font($subtitle, 3rem, bold, $gray-text);
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        
            .career__article-title {
                @include font($head-title, 3rem, bold, $black-text);
                padding-top: 1.6rem;
            }
        
            .career__article-text {
                @include font($main, 2.8rem, 400, $gray-text);
                padding: 2.4rem 0 3.6rem 0;
            }
        }
}

    .career__images {
        max-width: 100%;
        height: auto;
        box-shadow: 0 0 4rem 1.8rem rgba(0, 0, 0, 0.1);
    }

    .career__article-button {
        padding: 0.8em 7.2em 0.8em 1.6em;
    }    
}




