.card {
    @include flex;
    padding-top: 8rem;

    .card__wrapper {
        align-self: center;
        width: 340px;
        
        .card__images {
            padding-bottom: 2.4rem;
        }
        
        .card__image {
            width: 100%;
        }
        
        .card__title {
            @include font($column-title, 3rem, bold, $black-text);
            padding-bottom: 2.4rem;
        }
        
        .card__text {
            @include font($main, 2.8rem, 400, $gray-text);
            padding-bottom: 2.4rem;
        }
    }
}

