.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 196px;
    width: 40%;

    & .content__header {
        text-transform: uppercase;
        color: $gray-text;
        font-size: 14px;
        padding-bottom: 15px;
    }

    & .content__title {
        width: 70%;
        color: $black-text;
        line-height: 45px;
        padding-bottom: 15px;
    }

    & .content__text {
        color: $gray-text;
        line-height: 28px;
        padding-bottom: 35px;
        width: 70%;
    }
}




