.feauture__header {
    width: 43%;

    .feauture__title {
        padding-bottom: 1rem;
        font-size: $second-title;
        color: $black-text;
    }
    
    .feauture__text {
        @include main-font;
        color: $gray-text;
    }
}

