.feauture__header {
     width: 520px;
}

.feauture__title {
    padding-bottom: 16px;
    font-size: 24px;
    color: $black-text;
}

.feauture__text {
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 28px;
    color: $gray-text;
}