.footer-container {
    background-color: $black-text;

    .footer__header {
        @include flex;
        padding-top: 4rem;

        .footer__image {
            @include image;
            padding-left: 4rem;
        }        

        .footer__articles {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 6.4rem;
        }
        
        .footer__content {
            flex-basis: 10%;
            padding-right: 4rem;
        }
        
        .footer__title {
            @include font($subtitle, 1.8rem, bold, $white-text);
            text-transform: uppercase;
            letter-spacing: 1.75px;
        }
        
        .footer__text {
            @include font($main, 2.6rem, 400, $white-text);
            padding-top: 0.8rem;
        }
    }
}




