.footer-container {
    background-color: $black-text;

    .footer_header {
        @include flex;
        padding-top: 2.5rem;

        .footer__image {
            padding-left: 2.5rem;
            @include image;
        }        

        .footer__articles {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 4rem;
        }
        
        .footer__content {
            flex-basis: 10%;
            padding-right: 2.5rem;
        }
        
        .footer__title {
            color: $white-text;
            font-size: $subtitle;
        }
        
        .footer__text {
            padding-top: 0.5rem;
            color: $white-text;
            font-size: $main;
        }
    }
}




