.hero-container {
    @include flex;

    .hero__content {
        display: flex;
        flex-direction: column;
        flex: 0 1 49%;
        padding-top: 196px;
    
        &-header {
            padding-bottom: 15px;
            text-transform: uppercase;
            color: $gray-text;
            font-size: $subtitle;
        }
    
        &-title {
            padding-bottom: 15px;
            color: $black-text;
            line-height: 45px;
        }
    
        &-text {
            padding-bottom: 35px;
            width: 70%;
            color: $gray-text;
            line-height: 28px;
        }
    }
}

.hero__images {
    position: relative;
    padding-top: 96px;

    &-header {
        @include image;
        box-shadow: -60px 85px 0px -9px #f5f8fa;
    }
    
    &-resize {
        position: absolute;
        transform: translate(-555px, 28px);
    }
}






    


