.history-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16.8rem;

    .history__image {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        height: auto;
    }
}

.history__content {
    width: 82%;
    padding: 9.8rem 41.6rem 7.4rem 9.8rem;
    background-color: $black-text;
    box-shadow: -6rem 8.5rem 0 -0.9rem #f5f8fa;

    .history__header {
        padding-bottom: 2.4rem;
        font-size: $subtitle;
        text-transform: uppercase;
        color: $gray-text;
        letter-spacing: 0.1em;
        line-height: 20px;
    }
    
    .history__title {
        padding-bottom: 2.4rem;
        font-size: $head-title;
        line-height: 44px;
        color: $white-text;
    }
    
    .history__text{
        padding-bottom: 5.6rem;
        width: 87%;
        font-size: $main;
        line-height: 26px;
        color: $white-text;
    }

    .history__hr {
        padding-bottom: 2.4rem;
    }
}





