.link {
    position: relative;
    font-weight: 500;
    font-size: $main;
    color: $orange;
    text-decoration: none;

    &:before {
        content: "";
        position: absolute;
        top: calc(50% - 3px);
        left: 150px;
        width: 10px;
        height: 2px;
        background: $orange;
        border-radius: 2px;
        transform: rotate(45deg);
    }
    
    &:after {
        content: "";
        position: absolute;
        top: calc(50% + 3px);
        left: 150px;
        width: 10px;
        height: 2px;
        background: $orange;
        border-radius: 2px;
        transform: rotate(-45deg);
    }
}

.history__link {
    color: $white-text;
}
