.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.4rem 0 9.6rem 0;
    
    .nav__link {
        @include font($main, 4rem, bold, $black-text);
        text-decoration: none;

        &:not(:last-child) {
           margin-right: 4rem;
        }

        &:hover {
            color: $orange;
            border-bottom: 3px solid $orange;
            transition: border 0.1s ease-in-out;
        }
    }
}




