.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 96px 0;
    
    .nav__link {
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        color: $black-text;

        &:hover {
            color: $orange;
            border-bottom: 2px solid $orange;
        }
    }
}

.nav__link:not(:last-child) {
    margin-right: 40px;
}

