.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 6rem 0;
    
    .nav__link {
        font-weight: bold;
        font-size: $main;
        text-decoration: none;
        color: $black-text;

        &:not(:last-child) {
           margin-right: 2.5rem;
        }

        &:hover {
            color: $orange;
            border-bottom: 3px solid $orange;
            transition: border 0.1s ease-in-out;
        }
    }
}




