@media (min-width: 320px) and (max-width: 992px) {
    .wrapper {
        font-size: 14px;
    }

    .nav-container {
        padding-top: 25px;
    }

    .nav__menu {
        display: none;
    }

    .button__contact {
        display: none;
    }

    .hero__content {
        flex-basis: 100% !important;
        padding-top: 70px !important;
        text-align: center;

        .hero__content-text {
            width: 100% !important;
        }
    }

    .button__content {
        margin: auto;
        width: 70%;
    }

    .hero__images {
        width: 100%;
        padding-top: 75px;
        

        .hero__image-header {
            width: 100%;
            box-shadow: none;
        }

        .hero__image-resize {
            display: none;
        }
    }

    .feauture-container {
        padding-top: 30px;
        text-align: center;

        .feauture__header {
            width: 100%;
        }
    }

    .card__wrapper {
        padding-top: 40px !important;
        flex: 1 0 100%;
        
        .card__image {
            padding-bottom: 0 !important;
        }
    }

    .history-container {
        justify-content: center;
        max-width: 100% !important;
        padding-top: 50px !important;
    }

    .history__content {
        width: 100%;
        padding: 40px 0 !important;
        text-align: center;
        box-shadow: none;
    }

    .history__title {
        font-size: 1.5rem !important;
    }

    .history__text {
        padding: 0 20px;
        width: 100% !important;
    }

    .history__image {
        padding: 40px 25px 0 25px;
        position: inherit !important;
    }

    .articles__header {
        justify-content: center;
        padding-top: 40px;

        .article__caption {
            flex-basis: 100%;
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .articles__subtitle {
        text-align: center;
    }

    .article {
        flex-basis: 100% !important;
        text-align: center;
    }

    .career-container {
        padding-top: 10px !important;
    }

    .career__article {
        order: 1 !important;
        flex-basis: 100% !important;
        padding-top: 0px !important;
    }

    .career__content {
        text-align: center;
        padding-bottom: 0 !important;
    }

    .career__image {
        order: 0 !important;
        padding: 30px 0 20px;
    }

    .career__button {
        margin: auto !important;
        width: 80% !important;
    }

    .footer-container {
        margin-top: 40px;
        max-width: 100%;

        .footer_header {
            padding-top: 40px !important;
            justify-content: space-around;
        }

        .footer__content {
            padding: 0 !important;
        }

        .footer__articles {
            padding-top: 30px;
            justify-content: space-around;
        }

        .footer__image {
            padding: 0 !important;
        }

        .copyright {
            text-align: center;
            padding: 20px 0 !important;
        }
    }




}