@media (min-width: 992px) and (max-width: 1199px){
    
    .hero-container {
        flex-wrap: nowrap;

        .hero__content {
            padding-right: 1.5rem;
        }

        .hero__images-header{
            box-shadow: none;
        }
    
        .hero__images-resize {
            display: none;
        }
    }

    .card__wrapper {
        padding-bottom: 3rem;
    }

    .history-container {
        flex-wrap: nowrap;
        padding-top: 2rem;

        .history__content {
            width: 100%;
        }

        .history__image {
            top: 40%;
            left: 60%;
            height: 70%;
        }
    }

    .articles__header {
        padding-top: 7rem;
    }

    .career-container {
        padding-top: 0;
        text-align: center;

        .career__article {
            order: 1;
            margin: auto;
            width: 50% !important;
            padding-top: 5rem !important;
        }
    
        .career__image {
            order: 0;
            padding-top: 3rem;
            width: 100%;
        }
    }

}

@media (min-width: 992px) {
    .nav__burger {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    

    .container {
        max-width: 95%;
    }

    .menu-btn {
        display: block;
    }
    
    .nav-container {
        padding: 2.8rem 0 2.8rem 0;
    }

    .nav__menu {
        display: none;
    }

    .button__contact {
        display: none;
    }

    .hero__content {
        width: 100% !important;
        text-align: center;

        &-text {
            width: 100% !important;
        }
    }

    .button__content {
        margin: auto;
    }

    .hero__images {
        width: 100%;
        padding: 4.2rem 0 0 0;
    
        &-header {
            width: 100%;
            box-shadow: none;
        }

        &-resize {
            display: none;
        }
    }

    .feauture-container {
        padding-top: 2.6rem;
        text-align: center;

        .feauture__header {
            width: 100%;
        }
    }

    .card__wrapper {
        flex: 1 0 100%;
        padding-top: 3.5rem !important;
    }

    .history-container {
        justify-content: center;
        max-width: 100% !important;
        padding-top: 4.4rem !important;
    }

    .history__content {
        width: 100%;
        padding: 4rem 1rem !important;
        text-align: center;
        box-shadow: none;

        .history__title {
            font-size: 2.1rem !important;
        }
    
        .history__text {
            padding: 0 1.75rem;
            width: 100% !important;
        }
    }

    .history__image {
        width: 100% !important;
        position: inherit !important;
        padding: 3.5rem 2.1rem 0 2.1rem;
    }

    .articles__header {
        justify-content: center;
        padding-top: 3.5rem;

        .article__caption {
            width: 100%;
            text-align: center;
            padding-bottom: 1.75rem;
        }
    }

    .articles__subtitle {
        text-align: center;
    }

    .article {
        margin: auto;
        width: 80% !important;
        text-align: center;
    }

    .career-container {
        padding-top: 0.875rem !important;

        .career__content {
            text-align: center;
            padding-bottom: 0 !important;

            .career__article {
                order: 1 !important;
                width: 100% !important;
                padding-top: 0 !important;
            }
        }
    }

    .career__image {
        width: 100%;
        order: 0 !important;
        padding: 2.6rem 0 3.15rem;
    }

    .footer-container {
        margin-top: 3.5rem;
        max-width: 100%;

        .footer__header {
            padding-top: 3.5rem !important;
            justify-content: space-around;
        }

        .footer__content {
            padding: 0 !important;
        }

        .footer__articles {
            padding-top: 2.6rem;
            justify-content: space-around;
        }

        .footer__image {
            padding-left: 0px !important;
        }

        .copyright {
            padding: 1.75rem 0 ;
            text-align: center;
        }
    }
}
