//Adaptive block
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Adaptive image
@mixin image {
    max-width: 100%;
    height: auto;
}

//Font
@mixin font($size, $height, $weight, $text-color: $black-text){
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $text-color;
}



