//Colors
$orange: #ff9900;
$light-gray:#f5f8fa;
$white-text: #ffffff;
$black-text: #263640;
$gray-text: #929a9f;

//Font-size
$subtitle: 0,875rem; //14px
$main: 1rem; //16px
$column-title: 1,25rem; //20px
$second-title: 1,5rem; //24px
$head-title: 2rem; //32px

